<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/pygments/monokai.css' | relative_url }}">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    asciimath2jax: {
      delimiters: [],
      ignoreClass: "asciimath2jax_ignore"
    }
  });
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=AM_HTMLorMML">
  </script>
  <script src="assets/js/ASCIIMathML.js"></script>
</head>
<body>

{{ content }}

</body>
</html>

